{% extends 'News/Base.html'%} {% block content %}

<div class="container" style="background-color: cornsilk;">

<h2>Hi there! This is the landing page.</h2>
    
    <p>Please Login or Register yourself in order to see the news feed!! This is a News and Blogs app.You can view the blogs even without registering! Happy Reading!</p>
    <strong><p>You can also login as an admin!!</p></strong>

    <h5>Please note! After Logging in, you will be able to create, delete and update posts from your dashboard. But only yours!! In order to get the api-endpoint of a post use <strong>"api/posts/article-id"</strong> </h5>


</div>



{% endblock %}