{% extends 'News/Base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-div" >
        <form method="POST">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 mt-4 ml-2"> Password</legend>
                {{form | crispy}}

            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-color" type="submit" > Reset Password </button>
            </div>
        </form>

        

    </div>
{% endblock %}